.col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: center;
}


.block {
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: #0f123f;
  opacity: 0.5;
  z-index: 1000;
}

