.bullCowsSelect {
    background-color: #CFD8DC;
    width: 63px;
    height: 63px;
    border-radius: 90px;
    margin: 0 15px;
    font-weight: 600;
    font-size: 32px;

}

.lkj {
    background-color: yellow;
    // padding: 0;
    // text-align: center;
}

.ghj {
    // background-color: red;
    height: auto;
    padding: 0;
    text-align: center;
}